.drop-menu {
  position: absolute;
  top: 100%;
  left: 50%;
  padding: $space-md;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(3px);
  z-index: 10;
  width: max-content;
  transform: translateX(-50%);
}
