@font-face {
    font-family: 'Glitch Goblin';
    src: url('/resources/fonts/glitch-goblin-font/GlitchGoblin-2O87v.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Procyon';
    src: url('/resources/fonts/procyon-font/Procyon-rgjAK.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'teroxia';
    src: url('/resources/fonts/teroxia-font/TeroxiaDemoPersonalUse-GOxoD.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alien World';
    src: url('/resources/fonts/alien-world-font/AlienWorld-owj0x.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}